body { background: #97cbcc; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 58px; display: flex; }
.block-shipping-0 { color: #de89df; font-size: 19px; margin-bottom: 5px; }
.block-helper-1 { color: #594883; font-size: 15px; margin-bottom: 5px; }
.block-payment-2 { color: #af825b; font-size: 12px; margin-bottom: 5px; }
.block-payment-3 { color: #b870e2; font-size: 13px; margin-bottom: 5px; }
.block-session-4 { color: #61aaa5; font-size: 19px; margin-bottom: 5px; }
.block-router-5 { color: #eaefec; font-size: 21px; margin-bottom: 5px; }
.block-notify-6 { color: #cbbf6e; font-size: 13px; margin-bottom: 5px; }